.wrapper {
  width: 63%;
  margin: 0 auto;
}

.article__title {
  color: $primary;
  margin-bottom: 2rem;
}

.article__descr {
  @include fontSize(1.275);
  margin-bottom: 2rem;
}

.article__footer {
  padding: 2rem 0;
  border-top: 2px solid #cdd3dc;
}

.main-header {
  background: url("../img/header-bg.jpg") no-repeat;
  background-position: 50%;
  background-color: $bg-primary;
  background-size: cover;
}

.main-nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 2rem 0;
}

.main-nav__items {
  display: flex;
  justify-content: flex-end;
  flex: 1 1 0;
  margin-left: auto;
}

.main-nav__item {
  display: flex;
  a {
    padding: 0 0.5rem;
    @include fontSize(1.275);
    white-space: nowrap;
  }
}

.promo {
  padding: 3rem 7% 15rem 7%;
  text-align: center;
}

.promo__title {
  font-weight: normal;
  text-align: center;
  margin-bottom: 2rem;
}

.promo__subtitle {
  padding: 0 15%;
  margin-bottom: 2rem;
  font-weight: normal;
  text-align: center;
}

.project {
  padding-top: 15rem;
  position: relative;
  background-color: #fafbfe;
  background:
    url('../img/main-bg-left.jpg') 0 0 no-repeat,
    url('../img/main-bg-right.jpg') 110% 120% no-repeat;
  .hero {
    top: 0;
    position: absolute;
    width: 32%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 100px 90px -50px rgba(200,213,229,0.6);
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: transparent;
  background-clip: border-box;
}

.card__title {
  line-height: 1.275rem;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: #f1f2f9;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  img {
    width: 42px;
    height: auto;
  }
  &--first {
    img {
      width: 35px;
    }
  }
}

.plan {
  .wizard {
    margin-bottom: 5rem;
    margin-left: 15%;
  }
}

.wizard__item {
  display: flex;
  align-items: center;
  text-align: start;
  margin-bottom: 2rem;
}

.wizard__item-version {
  width: 22%;
  padding: 0 10% 0 0;
  .title {
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: $primary;
    line-height: 1.275rem;
  }
  .subtitle {
    @include fontSize(0.875, 1)
  }
}

.wizard__item-content {
  position: relative;
  display: flex;
  align-items: center;
  width: 77%;
  padding: 1rem;
  margin-left: 3rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 57px 5px rgba(196,198,217,0.27);
  &:before {
    content: '';
    left: -3rem;
    top: 50%;
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: $primary;
  }
}

.wizard__item-number {
  padding: 0 0.5rem;
  margin-right: 2rem;
  @include fontSize(4);
  font-weight: bold;
  color: #eff0f6;
}

.wizard__item-unit {
  position: relative;
  &:before {
    content: '';
    left: -0.75rem;
    top: 50%;
    position: absolute;
    display: block;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: #cbcddc;
  }
}

.downloads {
  display: flex;
}

.downloads__item {
  margin-right: 2rem;
  a {
    @include fontSize(1.275);
    color: $primary;
    &:hover {
      color: #0056b3;
    }
  }
  img {
    width: 1.6rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  &:first-child {
    a {
      font-weight: bold;
    }
  }
}

.ico__descr {
  margin-bottom: 3rem;
}

.ico__descr-title {
  margin-bottom: 0;
  font-weight: normal;
  @include fontSize(1.125);
}

.ico__descr-sum {
  @include fontSize(2.5);
}

.ico__cards {
  display: flex;
}

.ico__card {
  flex: 1 1 0;
  padding: 1.5rem 1.5rem 3rem 1.5rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 57px 15px rgba(31,42,68,0.45);
  .ico__card-title {
    color: $primary;
    padding: 0 2rem;
    @include fontSize(1.275);
  }
  .ico__card-descr {
    color: $text;
  }
  &:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.invest {
  .cards {
    width: 65%;
    margin: 0 auto;
    .card__image {
      background-color: transparent;
      width: 4rem;
      height: 4rem;
      margin-bottom: 0;
    }
  }
}

.more {
  background-color: $bg-primary;
  background: url("../img/footer-bg.jpg") no-repeat;
  background-position: 50%;
  background-size: cover;
}

.about__logo {
  margin-bottom: 2rem;
  img {
    width: 80px;
    height: auto;
  }
}

.footer {
  padding: 2rem 0;
  background-color: #0e1946;
}

.footer__main {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  .company-logo {
    min-width: 150px;
    margin-right: 3rem;
  }
  .mailto {
    margin-left: auto;
  }
}

.footer__nav {
  display: flex;
}

.footer__nav-item {
  display: flex;
  white-space: nowrap;
  a {
    padding: 0 1rem;
  }
}

.footer__second {
  padding: 1rem 0;
  display: flex;
  .stub {
    min-width: 150px;
    margin-right: 3rem;
  }
}

.additional {
  display: flex;
}

.additional__item {
  margin-right: 1rem;
  span, a.additional__item-link {
    color: #737689;
  }
  .additional__item-link {
    &:hover {
      color: #ffffff;
    }
  }
}

.socials {
  margin-left: auto;
  display: flex;
}

.social-link {
  &:not(:last-child) {
    margin-right: 2rem;
  }
}

.btns {
  padding: 1rem 0;
  .btn {
    margin-right: 1rem;
  }
}

.btn {
  padding: 0.75rem 2rem;
  @include fontSize(0.875);
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2rem;
  outline: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
  &:hover {
    background-color: $accent;
    border-color: $accent;
    transition: all 0.4s ease-out;
  }
  &:focus {
    outline: none;
  }
  &--accent {
    background-color: $accent;
    border-color: $accent;
    &:hover {
      background-color: $hover-invert;
      border-color: $hover-invert;
      transition: all 0.4s ease-out;
    }
  }
}
